{%extends 'base.html'%}
{%block body%}
<div class='container-fluid px-0 my-0 '>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
              <h2 style="position: absolute;top: 84px;left: 69pxpx;font-family:cursive;">WELCOME TO MY SITE</h2>
              <h4 classs="px-50px" style="position: absolute;top: 135px;left: 48px;font-family:math;">Hai this is my first website that i have made.<br> Im a python programmer .who<br> is specialising in python.</h4>
              <img src="static/bg1.jpg" class="d-block w-100" alt="..." style="height:600px;">
          </div>
          
        </div>
      </div>
</div>
<div class="container-fluid px-0">
    <nav class="navbar navbar-expand-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" style='color:white;' >PROJECTS</a>
          
      </nav>
    </div>

    <div class="container"   style="width: 100%;padding-left: 5px;margin-left: revert;max-width: 528px;">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col my-0 ">
              <div class="card shadow-sm">
                  <img src="static/images.jpg" class="d-block w-100" alt="...">
                <div class="card-body">
                  <p class="card-text">Calculator using python and tkinter</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="https://github.com/amalendu123/python-calculator" class="btn btn-sm btn-outline-secondary">View</a>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                  <img src="static/c.jpg" class="d-block w-100" alt="...">
                <div class="card-body">
                  <p class="card-text">A school database system made by python and mysql</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="https://github.com/amalendu123/school-database"class="btn btn-sm btn-outline-secondary">View</a>
                    
                    </div>
                  </div>
                </div>
              </div>
            </div>
{%endblock%}